<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Artist.Name}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/artist.css">
</head>

<body>
  <header>
    <a href="/" class="logo">groupie-tracker</a>
  </header>
  <h1>{{.Artist.Name}}</h1>
  <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" style="width:200px;">
  <div class="box">

    <!-- Creation Date -->
    <div class="info-box">
      <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
    </div>

    <!-- First Album -->
    <div class="info-box">
      <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
    </div>

    <!-- Members -->
    <div class="info-box">
      <p><strong>Members:</strong></p>
      <ul>
        {{range .Artist.Members}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>

    <!-- Locations -->
    <div class="info-box">
      <p><strong>Locations:</strong></p>
      <ul>
        {{range .Locations}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>


    <div class="comment-box">
      <p></p>
    </div>

    <!-- Dates -->
    <div class="info-box">
      <p><strong>Dates:</strong></p>
      <ul>
        {{range .Dates}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>


    <!-- Relations -->
    <div class="info-box">
      <p><strong>Relations:</strong></p>
      <ul>
        {{range $key, $value := .Relations_map}}
        <li>
          <span class="relation-key" style="cursor: pointer;">
            <strong>{{$key}}</strong>
          </span>
          <div class="relation-value" style="display: none; margin-top: 5px;">
            {{$value}}
          </div>
        </li>
        {{end}}
      </ul>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var keys = document.querySelectorAll('.relation-key');
        keys.forEach(function (key) {
          key.addEventListener('click', function () {
            var value = this.nextElementSibling;
            if (value.style.display === "none") {
              value.style.display = "block";
            } else {
              value.style.display = "none";
            }
          });
        });
      });
    </script>


  </div>
  <map name="Locations"></map>
  <footer>
    <p class="footer-title">Copyrights ©<span>azraji</span> @<span>ychatoua</span></p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/azzeddine-raji-6a0b61346/"><i class="fab fa-linkedin"></i></a>
      <a href="https://x.com/Azzeddi17634117"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </footer>
</body>

</html>