<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/artist.css">
</head>
<body>
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" style="width:200px;">
    <div class="box">
        <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
        <p><strong>Members:</strong></p>
        <ul>
            {{range .Artist.Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    
        <p>Locations:</p>
        <ul>
            {{range .Locations}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    
        <p>Dates:</p>
        <ul>
            {{range .Dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </div>
    
</body>
</html>